<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Result</h1>
        <h4>Student Name: <%=student.name%></h4>
        <h4>Student Roll Number: <%=student.rollno%>%></h4>
      
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">#</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Obtain Marks</th>
                <th scope="col">Total Marks</th>
              </tr>
            </thead>
            <tbody>
                           <% for (let result of results) { %>
                
              <tr>
                <th scope="row">1</th>
                 <td><%= result[0] %></td> 
                 <td><%= result[1] %></td> 
                 <td><%= result[2] %></td> 
                 <td><%= result[3] %></td> 
                </tr>
                <% } %>
                
                
              
             
            </tbody>
          </table>
    </div>
</body>
</html>