<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      
        
      
      
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/logout">logout</a>
          </li>
          
        </ul>
      
    </div>
  </nav>

    <div class="container">
        <h1>Result Update</h1>
        <h4>Subject Code: <%= subject.code %> </h4>
        <h4>Subject Name: <%= subject.name %></h4>

        <form action="/admin/swupdate/<%= subject.code %>/add" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Roll Number:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="rollno">
              <label for="exampleInputEmail1" class="form-label">Obtain Marks:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="om">
              <label for="exampleInputEmail1" class="form-label">Total Marks</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="tm">
              
              <input type="hidden" name="scode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= subject.code %>">
              
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">#</th>
            <th scope="col">Roll no</th>
            <th scope="col">Student Name</th>
            <th scope="col">Obtain Marks</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody></tbody>
            <% for (let result of results){ %>
          <tr>
            <th scope="row">1</th>
             <td><%=result[0]%></td> 
             <td><%=result[1]%></td> 
             <td><%=result[2]%></td> 
             <td><%=result[3]%></td> 
             <td><form action="/admin/swupdate/<%= subject.code %>/remove" method="POST"><input type="hidden" name="id" value="<%=result[4]%>"><input type="submit" value="Delete"></form></td> 
            </tr>
        <% } %>
            
            
          
         
        </tbody>
      </table>
        </div>

</body>
</html>